<ion-view view-title="{{alarmdetail.alarm.name}}">
  <ion-content>
    <div class="list">
      <form name="newAlarm">
        <label class="item item-input">
          <input type="text" name="name" required  ng-model="alarmdetail.alarm.name" placeholder="Alarm name">
        </label>

        <!-- TODO  more detail -->

        <label class="item item-input">
          <input type="text" required  ng-model="alarmdetail.alarm.text" placeholder="Alarm message">
        </label>

        <!--
        <label class="item item-input">
        <input type="text" required  ng-model="alarm.image" placeholder="Immagine">
      </label>
    -->

    <label class="item item-input">
      <div class="input-label">
        When?
      </div>
      <input type="datetime-local" ng-model="alarmdetail.alarm.date" required>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Snoozing time
      </div>

      <select ng-model="alarmdetail.alarm.snoozeTime"  required>
        <option value="5000" ng-selected="1">in 5 secs</option>
        <option value="10000">in 10 secs</option>
        <option value="60000">in 1 min</option>
      </select>
    </label>


  </form>

</div>
</ion-content>
</ion-view>
